@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

@layer components {
	.btn-large {
		border-radius: 16px;
		font-size: large;
		width: 320px;
		height: 56px;
		box-shadow: theme("boxShadow.lg");
	}
	.btn-outline {
		border: 1px solid theme("colors[grayscale.700]");
		color: theme("colors[grayscale.700]");
		font-weight: 500;
	}
	.btn-container {
		background-color: theme("colors[grayscale.700]");
		color: theme("colors.white");
	}
	.btn-ghost {
		color: theme("colors[grayscale.700]");
	}

	.input-56 {
		width: 320px;
		height: 56px;
		background-color: theme("colors[grayscale.200]");
		border-radius: 16px;
		padding: 14px 14px 5px;
	}

	.input-text--focus {
		outline: 1px solid theme("colors[grayscale.900]");
		background-color: theme("colors[grayscale.50]");
		caret-color: theme("colors[grayscale.700]");
		color: theme("colors.black");
	}

	.input-label {
		position: absolute;
		top: 30px;
		left: 14px;
		font-size: 12px;
		transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);
	}
	.input-label--input {
		transform: translate(7px, 12px) scale(1.3);
	}
	.input--invalid {
		outline-color: theme("colors[accent.red]");
		border: 1px solid theme("colors[accent.red]");
		color: theme("colors[accent.red]");
	}

	.component-border {
		border: 2px solid theme("colors[grayscale.300]");
		border-radius: 12px;
	}

	.component-border--dark {
		border: 2px solid theme("colors[grayscale.600]");
	}

	.checkbox {
		display: inline-block;
		width: 16px;
		height: 16px;
		border: 2px solid theme("colors[grayscale.700]");
		border-radius: 100%;
		position: relative;
		cursor: pointer;
	}

	.checkbox--checked {
		content: "✔";
		font-size: 12px;
		font-weight: 900;
		position: absolute;
		left: 1px;
		top: -3px;
		color: theme("colors[grayscale.700]");
	}

	.checkbox--checked--dark {
		content: "✔";
		font-size: 12px;
		position: absolute;
		left: 1px;
		top: -3px;
		color: theme("colors[grayscale.100]");
	}

	.animated-path {
		stroke: #14142b;
		stroke-width: 2px;
		animation: pathAnimation 3s 1 linear forwards;
	}

	@keyframes pathAnimation {
		0% {
			stroke-dasharray: 0 500;
			fill: theme("colors.white");
		}
		60% {
			fill: theme("colors[grayscale.900]");
		}
		100% {
			stroke-dasharray: 500 0;
			fill: theme("colors[grayscale.900]");
		}
	}
}

body {
	font-family: "Noto Sans KR";
	overflow: hidden;
}
