* {
    margin: 0;                     /* 모든 요소의 외부 여백을 0으로 설정 */
    padding: 0;                    /* 모든 요소의 내부 여백을 0으로 설정 */
    box-sizing: border-box;        /* 요소의 너비와 높이 계산에 padding과 border 포함 */
}


body, html {
    min-height: 100vh;             /* 최소 높이를 뷰포트 높이의 100%로 설정 */
    font-family: Pretendard, sans-serif; /* 글꼴 스타일을 설정 */
    display: flex;                 /* Flexbox 모델 사용 */
    flex-direction: column;        /* 요소들을 세로로 배치 */
    background-color: #F7F7FC;
}

p, a {
    color: #4E4B66;
}

.detail-info {
    color: #6E7191;
}

header {
    width: 1280px;
    padding: 20px 20px;            /* 상하좌우 패딩 설정 */
    display: flex;                 /* Flexbox 모델 사용 */
    justify-content: space-between;/* 요소들을 양 끝에 배치 */
    align-items: center;           /* 요소들을 세로 중앙에 배치 */
}

#logo {
    justify-content: space-between;
    width: 100%;
    display: flex;
}


.user-profile-icon {
    margin-left: auto;
}

#title-text {
    font-size: 32px;
    color: #14142B;
    padding-bottom: 20px;
}

#container {
    flex: 1;                       /* Flex 아이템이 남은 공간을 모두 차지하도록 설정 */
    display: flex;                 /* Flexbox 모델 사용 */
    align-items: stretch;          /* 교차 축에서 아이템을 늘려 꽉 차게 배치 */
    flex-direction: column;        /* 요소들을 세로로 배치 */
    margin: 40px 30px 40px 30px;   /* 마진 설정 */
    width: calc(100vw - 60px);     /* 전체 뷰포트 너비에서 60px 뺀 너비 */
    height: calc(100vh - 80px);    /* 전체 뷰포트 높이에서 80px 뺀 높이 */
}

#header-area {
    padding: 20px;                 /* 패딩 설정 */
    border-bottom: 1px solid #e0e0e0; /* 바닥 영역에 자연스러운 경계선 추가 */
}

#header-area-non-line {
    padding: 20px;                 /* 패딩 설정 */
}

#main-area {
    display: flex;                 /* Flexbox 모델 사용 */
    flex-grow: 1;                  /* 남은 공간을 모두 차지 */
}

#content-area {
    flex-grow: 1;                  /* 남은 공간을 모두 차지 */
    padding: 20px;                 /* 패딩 설정 */
}

.left-section {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.issue-header {
    display: flex;
    align-items: center;
    gap: 7px;
    width: 960px;
}

.attachment {
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #555;
}

.right-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%; /* 좌측 섹션과 동일한 높이 설정 */
}


.option-container {
    background-color: #FEFEFE; /*#FEFEFE; 부모 컨테이너의 배경색 */
    border: 1px solid #ddd; /* 부모 컨테이너의 테두리 */
    border-radius: 10px; /* 부모 컨테이너의 테두리 둥글게 */
    padding: 10px; /* 부모 컨테이너의 내부 여백 */
    width: 288px;
}

.option-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px; /* 각 항목의 내부 여백 */
    background-color: #FEFEFE;
    font-size: 15px;
    flex: 1;
    border: 1px solid transparent; /* 테두리를 투명하게 설정하여 여백만 남기기 */
}

.option-item:not(:last-child) {
    margin-bottom: 10px; /* 마지막 항목을 제외한 각 항목 사이의 간격 */
    border-bottom: 1px solid #e0e0e0;
}

.add-button {
    background-color: #c2dbff; /* 버튼의 배경색 */
    color: #fff; /* 버튼의 텍스트 색상 */
    border: none; /* 버튼의 테두리 제거 */
    border-radius: 50%; /* 버튼을 원형으로 만듦 */
    width: 24px; /* 버튼의 너비 */
    height: 24px; /* 버튼의 높이 */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; /* 버튼에 포인터 커서 적용 */
}

.add-button:hover {
    background-color: #90bbff; /* 호버 시 버튼의 배경색 */
}

.add-button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #007bff;
}

#additional-info-area {
    width: 288px;
    padding: 20px;                 /* 패딩 설정 */
}

.action-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    gap: 10px;
    margin-top: 20px;
    border-top: 1px solid #ddd;
}

.cancel-button {
    background: none;
    border: none;
    font-size: 16px;
    color: #555;
    cursor: pointer;
}

.submit-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #cce0ff;
    border: none;
    border-radius: 8px;
    cursor: not-allowed;
}

.submit-button:enabled {
    background-color: #4a90e2;
    cursor: pointer;
}

.loading-box {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    display: flex;
    justify-content: center;
}

.issue-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}