<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <title>Add Issue</title>
</head>
<body>
<header>
    <a href="/issues">
        <img src="" alt="이슈 트래커 로고"/>
    </a>
    <a href="">
        <img src="" alt="내 프로필">
    </a>
</header>
<main>
    <section>
        <h2>새로운 이슈 작성</h2>
        <hr/>
        <form id="add-issue" action="/issues" method="post">
            <a href="">
                <img src="" alt="작성자 프로필">
                <label id="memberId">
                    <!--기본 tester 삭제-->
                    <input type="hidden" name="memberId" th:value="tester">
                </label>
            </a>
            <label id="title">
                <input type="text" name="title" placeholder="제목">
            </label>
            <label id="content">
                <textarea name="content" placeholder="코멘트를 입력하세요"></textarea>
            </label>
        </form>
        <button id="img-upload" onclick="">
            <img src="" alt="첨부파일 아이콘">
            파일 첨부하기
        </button>
        <hr/>
    </section>
    <aside>
        <ul>
            <li>
                <label for="assignee">담당자</label>
                <button id="assignee">+</button>
            </li>
            <li>
                <label for="label">레이블</label>
                <button id="label">+</button>
            </li>
            <li>
                <label for="milestone">마일스톤</label>
                <button id="milestone">+</button>
            </li>
        </ul>
    </aside>
    <div>
        <button type="button" onclick="">작성 취소</button>
        <button type="submit" id="issue-add-button">완료</button>
    </div>
</main>

<script>
    $(document).ready(function () {
        $("#issue-add-button").click(addIssue);
    })

    function addIssue(e) {

        e.preventDefault();

        const formData = {
            memberId: $("#add-issue input[name=memberId]").val(),
            title: $("#add-issue input[name=title]").val(),
            content: $("#add-issue textarea[name=content]").val()
        }

        $.ajax({
            type: 'POST',
            url: '/issues',
            contentType: "application/json",
            data: JSON.stringify(formData),
            success: function (data, textStatus, jqXHR) {
                const location = jqXHR.getResponseHeader('Location');
                if (location) {
                    window.location.href = location;
                }
            },
            error: function () {
                alert("error occurred!");
            }
        });

    }
</script>

</body>
</html>